* {
  margin: 0;
  padding: 0;
}

body {
  color: #ccc;
  background: #333;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#field {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  width: 100vmin;
  height: 100vmin;
  background: #eee;
}

#field > div {
  font-family: monospace;
  font-weight: 600;
  position: relative;
  background: #444;
  transition: all 250ms ease-in-out;
}

#field > div:nth-child(2n) {
  background: #555;
}

#field > div:hover {
  cursor: pointer;
  filter: opacity(0.6);
}

#field > div.x:hover, #field > div.o:hover {
  cursor: default;
  filter: opacity(1);
}

#field > div.x::after, #field > div.o::after {
  content: "X";
  font-size: min(10vw,10vh);
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

#field > div.o::after {
  content: "O";
}

#field > div.win {
  color: #2f3;
}
