@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 10vw;
  font-family: "Share Tech Mono", monospace;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: linear-gradient(145deg, #777, #666 100%);
  .clock {
    background: #444;
    background: linear-gradient(145deg, #555, #444 100%);
    border-radius: 0.1em;
    padding: 0.1em;
    .date {
      margin: 0.1em 0.3em;
      padding: 0.1em 0.1em;
      background: #333;
      border-radius: 0.2em;
      text-align: center;
      font-size: 0.3em;
    }
    .time {
      display: flex;
      flex-direction: row;
      > div {
        display: flex;
        margin: 0.1em;
        padding: 0 0.1em;
        color: #fff;
        background: #333;
        border-radius: 0.08em;
        line-height: 1em;
        &.sep {
          color: #333;
          margin: 0.1em 0;
          padding: 0;
          background: transparent;
          border: none;
        }
      }
    }
  }
}
